input[type=radio] {
    border: 1;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
  }

  input[type=radio] + label {
    color: black;
  }

  input[type=radio]:focus + label {
    color: yellow;
    fill: yellow;
  }